 main
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: var(--text-dark);
main
}

button, input, textarea {
    font-family: inherit;
}
 main
